#wrapper{
	height:1500px;
}
#main{
	height:750px;
	background-color:;
}
#content{
	width:900px;
	height:650px;
	background-color:;
	float:left;
	margin-left:50px;
	margin-top:15px;
}
#content h1{
	text-align:center;
	font-size:40px;
	color:#bf555b;
	margin:0px auto;
	font-family: 'Lobster', cursive;
}
.galerija{
	width:100%;
	height:290px;
	background-color:;
	margin-top:10px;
	margin-bottom:20px;
}
.dva{
	margin-bottom:0px;
	margin-top:0px;
}
.cleaner{
	clear:both;
}
.slika1{
	width:270px;
	height:270px;
	background-color:;
	float:left;
	margin-right:30px;
	margin-top:15px;
	border:3px solid white;
	background-image: url('../img/galerija1.jpg');
}
.poslednja{
	margin-right:0px;
}
.druga{
	background-image: url('../img/galerija2.jpg');
}
.treca{
	background-image: url('../img/galerija3.jpg');
}
.cetvrta{
	background-image: url('../img/galerija4.jpg');
}
.peta{
	background-image: url('../img/galerija5.jpg');
}
.sesta{
	background-image: url('../img/galerija6.jpg');
}
#footer{
	margin-top:0px;
}