#slajder{
  max-width: 1000px;
  margin: auto;
  position: relative;
}

#slajder .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

#slajder .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  float:right;
}

#slajder .prev{
	float:left;
}

#slajder .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#slajder .text1 {
  width:450px;
  height:300px;
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom:90px;
  background-color:;
  margin-left:500px;
  float:right;
}
#slajder .treci{
	border:2px solid white;
}
#slajder .text1 h1{
	text-align:center;
	font-family: 'Bungee', cursive;
	font-size:38px;
}
#slajder .text1 span{
	color:#ff9933;
	font-family: 'Caveat', cursive;
}
#slajder .text1 p{
	font-family: 'Crete Round', serif;
	font-size:20px;
}
#slajder .text1 h2{
	text-align:center;
	margin-top:60px;
	font-size:40px;
}
#slajder h2 a{
	text-decoration:none;
	color:#ff9933;
	font-family: 'Caveat', cursive;
	border: 2px solid #ff9933;
	padding:5px;
	padding-right:12px;
}
#slajder h2 a:hover{
	background-color:#333333;
	color:#ff9933;
}
#slajder .drugi p{
	text-align:center;
}
.treci{
	background-color:black;
	background: rgba(0, 0, 0, 0.6);
}
#slajder .treci h1{
	font-family: 'Lobster', cursive;
	margin-bottom:30px;
}
#slajder .treci p{
	margin-left:20px;
	font-size:28px;
}
#slajder .treci h2 a{
	color:white;
	border: 2px solid white;
}
#slajder .pizza1{
	width:380px;
	height:380px;
	background-color:;
	float:left;
	bottom:50px;
	position:absolute;
	margin-left:90px;
	border-radius: 220px;
	background-image: url('../img/pizza1.png');
}
#slajder .pizza2{
	width:380px;
	height:380px;
	background-color:;
	float:left;
	bottom:50px;
	position:absolute;
	margin-left:90px;
	border-radius: 220px;
	background-image: url('../img/pizza3.png');
}

#slajder .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.cleaner{
	clear:both;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
